<!DOCTYPE html>
<html>
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/angular.js"></script>
  <script src="js/main.js"></script>
<head>
	<title></title>
</head>
<body ng-app='myApp'>
	<div ng-controller="myController">
	  
	  <div class="state-input">
      <input type="text"
             ng-model="state"
             placeholder="Enter State" />

      <div ng-repeat='killing in myModel'>
        {{ killing.name }} - 
        {{ killing.cause }} - 
        {{ killing.address }} 
        {{  killing.city }}, 
        {{ killing.state }}
      </div>
	  </div>
	</div>
</body>
</html>