<!DOCTYPE html>
<html>
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/angular.js"></script>
  <script src="js/main.js"></script>
<head>
	<title></title>
</head>
<body ng-app='myApp'>
	<div ng-controller="myController">
	  
<!-- 	  <div class="state-input">
      <input type="text"
             ng-model="state"
             placeholder="Enter State" /> -->

      <div ng-repeat='killing in killings'>
        {{ killing.name }}, {{ killing.age }}
        <a ng-href='#here' ng-click='test(killing);'>RIP</a>
      </div>
	  </div>
	</div>
  <div id='map'></div>
	
</body>
</html>